html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
#body-wrapper {
  min-height: 100%;
  position: relative;
}
#body-content {
  padding-bottom: 144px;
}
#body-footer {
  width: 100%;
  height: 144px;
  position: absolute;
  bottom: 0;
  left: 0;
}
@media (max-width: 767px) {
  #body-content {
    padding-bottom: 0;
  }
  #body-footer {
    height: 0;
  }
}


@font-face {
  font-family: 'RalewayRegular';
  src: url('fonts/raleway-regular.woff') format('woff');
}

@font-face {
  font-family: 'RalewayMedium';
  src: url('fonts/raleway-medium.woff') format('woff');
}

@font-face {
  font-family: 'RalewaySemiBold';
  src: url('fonts/raleway-semibold.woff') format('woff');
}

@font-face {
  font-family: 'RalewayBold';
  src: url('fonts/raleway-bold.woff') format('woff');
}

@font-face {
  font-family: 'RalewayHeavy';
  src: url('fonts/raleway-heavy.woff') format('woff');
}


/* Basics */
p,
.p {
  font-family: "RalewayMedium", Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px;
  margin-top: 0;
}

body {
  font-family: "RalewayMedium", Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  quotes: '\201C' '\201D' '\2018' '\2019';
}

h1,
.h1 {
  font-family: "RalewayRegular", Helvetica, sans-serif;
  font-size: 42px;
  line-height: 50px;
  margin-bottom: 60px;
  margin-top: 0;
}

@media (min-width: 768px) {
  h1,
  .h1 {
    font-size: 80px;
    line-height: 96px;
  }
}

h2,
.h2 {
  font-family: "RalewayRegular", Helvetica, sans-serif;
  font-size: 28px;
  line-height: 34px;
  margin-bottom: 40px;
  margin-top: 0;
}

@media (min-width: 768px) {
  h2,
  .h2 {
    font-size: 40px;
    line-height: 48px;
  }
}

h3,
.h3 {
  font-family: "RalewayRegular", Helvetica, sans-serif;
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 20px;
  margin-top: 0px;
}

@media (min-width: 768px) {
  h3,
  .h3 {
    font-size: 24px;
    line-height: 30px;
  }
}

h4,
.h4 {
  font-family: "RalewayBold", Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin-top: 0px;
  letter-spacing: .6px;
  margin-bottom: 10px;
}


/* Modifiers */
.caps {
  font-family: "RalewayBold", Helvetica, sans-serif;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: .5px;
  margin-bottom: 10px;
}

.small {
  font-family: "RalewaySemiBold", Helvetica, sans-serif;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: .5px;
  margin-bottom: 0px;
}

.regular {
  font-family: "RalewayRegular", Helvetica, sans-serif;
}

.medium {
  font-family: "RalewayMedium", Helvetica, sans-serif;
}

.semibold {
  font-family: "RalewaySemiBold", Helvetica, sans-serif;
}

.bold {
  font-family: "RalewayBold", Helvetica, sans-serif;
}

.heavy {
  font-family: "RalewayHeavy", Helvetica, sans-serif;
}

.p-center {
  text-align: center;
}

.status-text {
  font-size: 87%;
  font-family: "RalewaySemiBold", Helvetica, sans-serif;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: .5px;
  margin-bottom: 0px;
  font-family: "RalewayRegular", Helvetica, sans-serif;
}

.status-text .success {
  color: #279B69;
}

.status-text .error {
  color: #DF4840;
}


/* Text links */
.text-a:link,
.text-a:visited {
  position: relative;
  color: #3181FF;
  text-decoration: none;
  padding-bottom: 2px;
}

.text-a:hover,
.text-a:active,
.text-a.active {
  color: #1966CC;
}

.text-a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #1966CC;
  visibility: hidden;
  -webkit-transform-origin: left center;
          transform-origin: left center;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  transition: all 200ms ease-in-out 0s;
}

.text-a:hover:before,
.text-a.active:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.text-a-gray:link,
.text-a-gray:visited {
  position: relative;
  color: #8E939C;
  text-decoration: none;
  padding-bottom: 2px;
}

.text-a-gray:hover,
.text-a-gray:active,
.text-a-gray.active {
  color: #8E939C;
}

.text-a-gray:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #8E939C;
  visibility: hidden;
  -webkit-transform-origin: left center;
          transform-origin: left center;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  transition: all 200ms ease-in-out 0s;
}

.text-a-gray:hover:before,
.text-a-gray.active:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.text-a-white:link,
.text-a-white:visited {
  position: relative;
  color: #FFFFFF;
  text-decoration: none;
  padding-bottom: 2px;
}

.text-a-white:hover,
.text-a-white:active,
.text-a-white.active {
  color: #FFFFFF;
}

.text-a-white:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #FFFFFF;
  visibility: hidden;
  -webkit-transform-origin: left center;
          transform-origin: left center;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  transition: all 200ms ease-in-out 0s;
}

.text-a-white:hover:before,
.text-a-white.active:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.text-a-purple-600:link,
.text-a-purple-600:visited {
  position: relative;
  color: #fd6afa;
  text-decoration: none;
  padding-bottom: 2px;
}

.text-a-purple-600:hover,
.text-a-purple-600:active,
.text-a-purple-600.active {
  color: #62008f;
}

.text-a-purple-600:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #62008f;
  visibility: hidden;
  -webkit-transform-origin: left center;
          transform-origin: left center;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  transition: all 200ms ease-in-out 0s;
}

.text-a-purple-600:hover:before,
.text-a-purple-600.active:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
.shorten-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.text-white {
  color: #FFFFFF;
}

.text-gray-3 {
  color: #8E939C;
}

.text-gray-4 {
  color: #C2C7CD;
}

.text-gray-6 {
  color: #ECEEF1;
}


/* Quotes */
q:before {
  content: open-quote;
}

q:after {
  content: close-quote;
}

.pad-zero {
  padding: 0;
}
/* generate spacing classes at every 6 px between 0 and 60, and every 12 px between 72 and 240 */
.btm-0 {
  margin-bottom: 0px;
}
.rtm-0 {
  margin-right: 0px;
}
.btp-0 {
  padding-bottom: 0px;
}
.rtp-0 {
  padding-right: 0px;
}
.btm-6 {
  margin-bottom: 6px;
}
.rtm-6 {
  margin-right: 6px;
}
.btp-6 {
  padding-bottom: 6px;
}
.rtp-6 {
  padding-right: 6px;
}
.btm-12 {
  margin-bottom: 12px;
}
.rtm-12 {
  margin-right: 12px;
}
.btp-12 {
  padding-bottom: 12px;
}
.rtp-12 {
  padding-right: 12px;
}
.btm-18 {
  margin-bottom: 18px;
}
.rtm-18 {
  margin-right: 18px;
}
.btp-18 {
  padding-bottom: 18px;
}
.rtp-18 {
  padding-right: 18px;
}
.btm-24 {
  margin-bottom: 24px;
}
.rtm-24 {
  margin-right: 24px;
}
.btp-24 {
  padding-bottom: 24px;
}
.rtp-24 {
  padding-right: 24px;
}
.btm-30 {
  margin-bottom: 30px;
}
.rtm-30 {
  margin-right: 30px;
}
.btp-30 {
  padding-bottom: 30px;
}
.rtp-30 {
  padding-right: 30px;
}
.btm-36 {
  margin-bottom: 36px;
}
.rtm-36 {
  margin-right: 36px;
}
.btp-36 {
  padding-bottom: 36px;
}
.rtp-36 {
  padding-right: 36px;
}
.btm-42 {
  margin-bottom: 42px;
}
.rtm-42 {
  margin-right: 42px;
}
.btp-42 {
  padding-bottom: 42px;
}
.rtp-42 {
  padding-right: 42px;
}
.btm-48 {
  margin-bottom: 48px;
}
.rtm-48 {
  margin-right: 48px;
}
.btp-48 {
  padding-bottom: 48px;
}
.rtp-48 {
  padding-right: 48px;
}
.btm-54 {
  margin-bottom: 54px;
}
.rtm-54 {
  margin-right: 54px;
}
.btp-54 {
  padding-bottom: 54px;
}
.rtp-54 {
  padding-right: 54px;
}
.btm-60 {
  margin-bottom: 60px;
}
.rtm-60 {
  margin-right: 60px;
}
.btp-60 {
  padding-bottom: 60px;
}
.rtp-60 {
  padding-right: 60px;
}
.btm-72 {
  margin-bottom: 72px;
}
.rtm-72 {
  margin-right: 72px;
}
.btp-72 {
  padding-bottom: 72px;
}
.rtp-72 {
  padding-right: 72px;
}
.btm-84 {
  margin-bottom: 84px;
}
.rtm-84 {
  margin-right: 84px;
}
.btp-84 {
  padding-bottom: 84px;
}
.rtp-84 {
  padding-right: 84px;
}
.btm-96 {
  margin-bottom: 96px;
}
.rtm-96 {
  margin-right: 96px;
}
.btp-96 {
  padding-bottom: 96px;
}
.rtp-96 {
  padding-right: 96px;
}
.btm-108 {
  margin-bottom: 108px;
}
.rtm-108 {
  margin-right: 108px;
}
.btp-108 {
  padding-bottom: 108px;
}
.rtp-108 {
  padding-right: 108px;
}
.btm-120 {
  margin-bottom: 120px;
}
.rtm-120 {
  margin-right: 120px;
}
.btp-120 {
  padding-bottom: 120px;
}
.rtp-120 {
  padding-right: 120px;
}
.btm-132 {
  margin-bottom: 132px;
}
.rtm-132 {
  margin-right: 132px;
}
.btp-132 {
  padding-bottom: 132px;
}
.rtp-132 {
  padding-right: 132px;
}
.btm-144 {
  margin-bottom: 144px;
}
.rtm-144 {
  margin-right: 144px;
}
.btp-144 {
  padding-bottom: 144px;
}
.rtp-144 {
  padding-right: 144px;
}
.btm-156 {
  margin-bottom: 156px;
}
.rtm-156 {
  margin-right: 156px;
}
.btp-156 {
  padding-bottom: 156px;
}
.rtp-156 {
  padding-right: 156px;
}
.btm-168 {
  margin-bottom: 168px;
}
.rtm-168 {
  margin-right: 168px;
}
.btp-168 {
  padding-bottom: 168px;
}
.rtp-168 {
  padding-right: 168px;
}
.btm-180 {
  margin-bottom: 180px;
}
.rtm-180 {
  margin-right: 180px;
}
.btp-180 {
  padding-bottom: 180px;
}
.rtp-180 {
  padding-right: 180px;
}
.btm-192 {
  margin-bottom: 192px;
}
.rtm-192 {
  margin-right: 192px;
}
.btp-192 {
  padding-bottom: 192px;
}
.rtp-192 {
  padding-right: 192px;
}
.btm-204 {
  margin-bottom: 204px;
}
.rtm-204 {
  margin-right: 204px;
}
.btp-204 {
  padding-bottom: 204px;
}
.rtp-204 {
  padding-right: 204px;
}
.btm-216 {
  margin-bottom: 216px;
}
.rtm-216 {
  margin-right: 216px;
}
.btp-216 {
  padding-bottom: 216px;
}
.rtp-216 {
  padding-right: 216px;
}
.btm-228 {
  margin-bottom: 228px;
}
.rtm-228 {
  margin-right: 228px;
}
.btp-228 {
  padding-bottom: 228px;
}
.rtp-228 {
  padding-right: 228px;
}
.btm-240 {
  margin-bottom: 240px;
}
.rtm-240 {
  margin-right: 240px;
}
.btp-240 {
  padding-bottom: 240px;
}
.rtp-240 {
  padding-right: 240px;
}
.clear-line-height {
  line-height: 0;
}
.valign {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
.centered-container {
  position: relative;
}
.hcentered-content {
  position: absolute;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
.vcentered-content {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
.vcentered-hcentered-content {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.centered-content {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.vcentered-inline-container:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.vcentered-inline {
  display: inline-block;
  vertical-align: middle;
}
.aspect-ratio-16-9 {
  position: relative;
}
.aspect-ratio-16-9:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 56.25%;
}
.aspect-ratio-16-9 > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.aspect-ratio-4-3 {
  position: relative;
}
.aspect-ratio-4-3:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 75%;
}
.aspect-ratio-4-3 > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.aspect-ratio-3-2 {
  position: relative;
}
.aspect-ratio-3-2:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 66.66666667%;
}
.aspect-ratio-3-2 > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.aspect-ratio-1-1 {
  position: relative;
}
.aspect-ratio-1-1:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 100%;
}
.aspect-ratio-1-1 > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}


/* Button Animations */
.btn-xs,
.btn-sm,
.btn-md,
.btn-lg,
.btn-group-xs > .btn,
.btn-group-sm > .btn,
.btn-group-lg > .btn {
  text-transform: none;
  transition: all 200ms;
}
.btn-xs:active,
.btn-sm:active,
.btn-md:active,
.btn-lg:active {
  position: relative;
  top: 2px;
}
.btn-xs:focus,
.btn-sm:focus,
.btn-md:focus,
.btn-lg:focus {
  color: #FFFFFF;
  text-decoration: none;
}
/* Button Styles */
.btn-responsive {
  width: 100%;
}
/* Extra small Button */
.btn-xs,
.btn-group-xs > .btn {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  border-radius: 3px;
  border: 1px solid transparent;
  font-family: "RalewaySemiBold", Helvetica, sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 1.5;
  letter-spacing: 1px;
  padding: 4px 12px 5px 12px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #FFFFFF;
}
.btn-xs:hover {
  text-decoration: none;
  color: #FFFFFF;
}
/* Small Button */
.btn-sm,
.btn-group-sm > .btn {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  border-radius: 3px;
  border: 1px solid transparent;
  font-family: "RalewaySemiBold", Helvetica, sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 1.5;
  letter-spacing: 1px;
  padding: 10px 20px 11px 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #FFFFFF;
}
.btn-sm:hover {
  text-decoration: none;
  color: #FFFFFF;
}
/* Medium Button */
.btn-md {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  border-radius: 3px;
  border: 1px solid transparent;
  font-family: "RalewaySemiBold", Helvetica, sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 1px;
  padding: 11px 36px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #FFFFFF;
}
.btn-md:hover {
  text-decoration: none;
  color: #FFFFFF;
}
/* Large Button */
.btn-lg,
.btn-group-lg > .btn {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  border-radius: 6px;
  border: 1px solid transparent;
  font-family: "RalewaySemiBold", Helvetica, sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 1px;
  padding: 17px 60px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #FFFFFF;
}
.btn-lg:hover {
  text-decoration: none;
  color: #FFFFFF;
}
@media (min-width: 768px) {
  .btn-lg,
  .btn-group-lg > .btn {
    padding: 17px 80px;
  }
}
/* Button IE fix */
button:active span,
button:focus span {
  position: relative;
}
button:active i,
button:focus i {
  position: relative;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
.btn-icon {
  width: 18px;
  height: 18px;
  font-size: 18px;
  display: block;
  float: left;
}
.icon-text {
  margin-right: 5px;
}
[class^="btn-"],
[class*=" btn-"] {
  /* Blue Button */
  /* Gray-1 Button */
  /* Gray-2 Button */
  /* Slate Button */
  /* Gray-5 Button */
  /* White Button */
  /* Magenta Button */
  /* Teal Button */
  /* Green Button */
  /* Orange Button */
  /* Purple Button */
  /* Gold Button */
  /* Status Red Button */
  /* Status Green Button */
  /* Blue Ghost Button */
  /* Gray-1 Ghost Button */
  /* Gray-2 Ghost Button */
  /* Slate Ghost Button */
  /* Gray-5 Ghost Button */
  /* Gray-6 Ghost Button */
  /* White Ghost Button */
  /* Magenta Ghost Button */
  /* Teal Ghost Button */
  /* Green Ghost Button */
  /* Orange Ghost Button */
  /* Purple Ghost Button */
  /* Gold Ghost Button */
  /* Status Red Ghost Button */
  /* Status Green Ghost Button */
  /* Disabled Button */
}
[class^="btn-"].blue,
[class*=" btn-"].blue {
  background-color: #3181FF;
  border-color: #3181FF;
}
[class^="btn-"].blue:hover,
[class*=" btn-"].blue:hover {
  background-color: #1966CC;
  border-color: #1966CC;
}
